#This File Contains 125 Problems With Solutions on LIST

In [1]:
#1 interchange first and last elements in a list
L = [1,2,3,4,5]
L[0],L[-1] = L[-1], L[0]
print(L)

[5, 2, 3, 4, 1]

In [3]:
#2 How To Find the Length of a List in Python
counter = 0
for i in L:
    counter = counter + 1 

print('No of chars in a list: ' ,counter)

No of chars in a list:  5

In [5]:
#3 spliting list
string_list = ["apple,orange", "banana,grape", "kiwi,mango"]
split_list = [i.split(',') for i in string_list]
print(split_list)

[['apple', 'orange'], ['banana', 'grape'], ['kiwi', 'mango']]

In [13]:
# 4
from itertools import groupby

original_list = [1,'1', 1, 2, 3.6, 3, 3, 4, 5, 5]
split_list = [list(group) for key, group in groupby(original_list)]
print(split_list)

[[1], ['1'], [1], [2], [3.6], [3, 3], [4], [5, 5]]

4 Get last element of each sublist

In [42]:
#5 Using for loop
Input = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
def last_ele(n):
    result = []
    for i in n:
        
        result.append(i[-1])
    return result

last_ele(Input)

[3, 6, 9]

In [30]:
#6 using zip and unpacking(*)
lst = [[1,2,3], [4,5,6], [7,8,9]]
list(zip(*[(el) for el in lst]))[-1]

(3, 6, 9)

In [50]:
7
lst = [[1,2,3], [4,5,6], [7,8,9]]
list(zip(*[i for i in lst]))[-1]

(3, 6, 9)

In [56]:
#8 using map
list(zip(*map(reversed, lst)))[0]

(3, 6, 9)

In [59]:
#9 using itemgetter
from operator import itemgetter

list(map(itemgetter(-1), lst))

[3, 6, 9]

In [62]:
#10 apply zip on nested list directly
(list(zip(*lst))[-1])

(3, 6, 9)

5 Getting sublist element till N

In [66]:
#11 using for loop
list1 = [['a', 12], ['b', 34], ['c', 56], ['d', 78], ['e', 22]]
n = 4
res = []
for i in list1[:n]:
    res.append(i[0])

print(res)

['a', 'b', 'c', 'd']

In [69]:
#12 Using list comprehension and slicing
n = 4
res = [i[0] for i in list1[: n]]
print(res)

['a', 'b', 'c', 'd']

In [68]:
#13  map, itemgetter, islice
from operator import itemgetter
from itertools import islice

res = list(map(itemgetter(0), islice(list1, 0, n)))
print(res)

['a', 'b', 'c', 'd']

6- geting length of list

In [1]:
#14 Using length funct
L = [1,2,3,4,5,6]
print('length of list is: ', len(L))

length of list is:  6

In [2]:
#15 using for loop
counter = 0
for i in L:
    counter = counter + 1

print('length of list: ', counter)

length of list:  6

In [5]:
#16 using comprehension
a = sum([1 for i in L])
print('length of list: ', a)

length of list:  6

7- factorial

In [16]:
#17 using for loop
n = 6
res = 1
for i in range(1, n+1):
    res *= i
res

720

In [20]:
#18 using funct
def fact(n):
    return 1 if n == 1 or n ==0 else (n* fact(n-1))
fact(6)

720

8- item present in list

In [21]:
#19 using in
L = [11,22,33,44,55,66,77]
if 22 in L:
    print('present')
else:
    print('absent')

present

In [22]:
#20 using for loop
for i in L:
    if i == 22:
        print('present')

present

In [23]:
# 21 
if L.count(22) > 0:
    print('present')

present

9 Accesing items for list

In [25]:
# 22 
List1 = [11,22,33,44,55,66,77,88]
index_list = [1,3,5]

# using for loop
res = []
for i in index_list:
    res.append(List1[i])

res

[22, 44, 66]

In [27]:
#23 using map and getitem
res = list(map(List1.__getitem__, index_list))
res

[22, 44, 66]

In [35]:
#24 using itemgetter
from operator import itemgetter
res = itemgetter(*index_list)(List1)
res

(22, 44, 66)

10 iterate over multiple list

In [3]:
# 25
num = [1, 2, 3]
color = ['red', 'while', 'black']
value = [255, 256]

In [4]:
#26 using for loop (cant use for dissimilars items in list)
for i, j,k in zip(num,color,value):
    print(i,j,k)

1 red 255
2 while 256

In [12]:
#27 this also work for same size lists
from itertools import zip_longest
for i, j ,k in zip_longest(num, color, value, fillvalue='N/A'):        
    print(i,j,k)

1 red 255
2 white 256
3 black N/A

In [50]:
#28 using zip   (till smallest)
for a, b, c in  zip(num, color, value):
    print(a,b,c)

1 red 255
2 while 256

In [54]:
#29 using zip_longest     (gave none value for empty to avoid error)
import itertools

for a,b,c in itertools.zip_longest(num, color, value):
    print(a,b,c)

1 red 255
2 while 256
3 black None

In [56]:
#30 we can appoint specific value in none position
for a,b,c in itertools.zip_longest(num, color, value, fillvalue= -1):
    print(a,b,c)

1 red 255
2 while 256
3 black -1

11  Iterate on nested list

In [57]:
list = [["Rohan", 60], ["Aviral", 21],  
        ["Harsh", 30], ["Rahul", 40], 
        ["Raj", 20]]

In [58]:
# 31
for i in list:
    print(i[0], 'is', i[1], 'years old')

Rohan is 60 years old
Aviral is 21 years old
Harsh is 30 years old
Rahul is 40 years old
Raj is 20 years old

In [61]:
# 32
for i, j in list:
    print(i, 'is', j, 'years old')

Rohan is 60 years old
Aviral is 21 years old
Harsh is 30 years old
Rahul is 40 years old
Raj is 20 years old

finding indices of items in list

In [3]:
#33 naive method
L = [1,3,4,5,6,3,2]
res = []
for i in range(len(L)):
    if L[i] == 3:
        res.append(i)
res

[1, 5]

In [4]:
#34 using comprehension
res = [i for i in range(len(L)) if L[i] == 3]
res

[1, 5]

In [18]:
#35 enumerate
res = [i for i, value in enumerate(L) if value == 3]
res

[1, 5]

In [22]:
#36 filter
res = list(filter(lambda x: L[x] == 3, range(len(L))))
res

[1, 5]

In [4]:
#37 numpy
import numpy as np
L1 = np.array(L)
res = np.where(L1 == 3)[0]
res

array([1, 5], dtype=int64)

In [6]:
#38 Write a Python program to count the number of strings from a given list of strings.
#  The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

L_1 = ['abc', 'xyz', 'aba', '1221']

def temp(n):
    count = 0
    for i in n:
        if len(i) > 2 and i[0] == i[-1]:
            count = count + 1
    return count

temp(L_1)

2

In [7]:
# 39
def temp1(n):
    count = [i for i in n if len(i) > 2 and i[0] == i[-1]]
    return len(count)

temp1(L_1)

2

In [1]:
#40 Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.
# Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

L = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted(L, key=lambda x:x[1])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [16]:
#41. Write a Python program to sum all the items in a list.
l =[10,20,30]
l2=sum(l)
print(l2)

# 42
res = 0
for i in l:
    res += i
print(res)

60
60

In [18]:
#43. Write a Python program to multiplies all the items in a list.
l =[10,20,30]
import math
l2= math.prod(l)
print(l2)

# 44
product=1
for i in l:
  product = i*product
print(product)

6000
6000

In [25]:
#45. Write a Python program to get the largest number from a list.
l =[10,20,30]
l2 = max(l)
l2
l =[10,20,30]
l2=sorted(l)[-1]
print(l2)

30

In [13]:
#46. Write a Python program to get the smallest number from a list.
l =[10,20,30]
l2=sorted(l,reverse=True)[-1]
print(l2)

10

In [24]:
"""
47. Write a Python program to count the number of strings where the string length
is 2 or more and the first and last character are same from a given list of strings.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
"""
l=['abc', 'xyz', 'aba', '1221']
result = []
for i in l:
  if i[0]==i[-1]:
    result.append(i)
len(result)

2

In [23]:
"""
48. Write a Python program to get a list, sorted in increasing order by the last
element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]
"""
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(sample_list, key=lambda x: x[-1])
print(sorted_list)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [19]:
#48. Write a Python program to remove duplicates from a list.
l = [10,10,25,30,25,25,85]
l2 = set(l)
print(list(l2))

# 49
res = []
for i in l:
    if i in res:
        continue
    else:
        res.append(i)
print(res)

[25, 10, 85, 30]
[10, 25, 30, 85]

In [21]:
#50. Write a Python program to check a list is empty or not.
l2=[10,20]
if len(l2)==0:
  print("empty list")
else:
  print("not empty")

not empty

In [22]:
#51. Write a Python program to clone or copy a list.
l=[10,20,30,40]
l1=[]
for i in l:
  l1.append(i)
print(l1)

[10, 20, 30, 40]

In [26]:
#52. Write a Python program to find the list of words that are longer than n from a given list of words.
l=["prashant",'rohan','abhilasha','ram']
l2=[]
for i in l:
  if len(i)>4:
    l2.append(i)
print(l2)

['prashant', 'rohan', 'abhilasha']

In [27]:
#53. Write a Python function that takes two lists and returns True if they have at least one common member.
l1 = [10,20,30,40,50]
l2 = [10,60,70,80,90]
def sample(l1,l2):
  for i in l1:
    for j in l2:
      if i == j:
        return(True)
      else:
        return(False)
sample(l1,l2)

True

In [28]:
"""
54. Write a Python program to print a specified list after removing the 0th, 4th
and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']
"""

# Sample list
sample_list = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

# Removing the 0th, 4th, and 5th elements
modified_list = [item for index, item in enumerate(sample_list) if index not in (0, 4, 5)]

# Printing the result
print("Modified List:", modified_list)

Modified List: ['Green', 'White', 'Black']

In [29]:
#55. Write a Python program to print the numbers of a specified list after removing even numbers from it.
l = [10,3,5,6,13,15,12,11,14]
l1 =[]
for i in l:
  if i % 2 != 0:
    l1.append(i)
print(l1)

[3, 5, 13, 15, 11]

In [30]:
#56. Write a Python program to shuffle and print a specified list.
import random
s = [0,1,1,2,3,5,4,5]
random.shuffle(s)
s

[4, 1, 1, 0, 3, 2, 5, 5]

In [31]:
"""
57. Write a Python program to generate and print a list of first and last 5
elements where the values are square of numbers between 1 and 30 (both
included).
"""

def values():
  l =[]
  for i in range (1,31):
    l.append(i**2)
  print(l[:5])
  print(l[-5:])
values()

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [32]:
"""
58. Write a Python program to generate and print a list except for the first 5
elements, where the values are square of numbers between 1 and 30 (both
included).
"""
def values():
  l=[]
  for i in range(1,31):
    l.append(i**2)
  print(l[5:])
values()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [33]:
#59. Write a Python program to generate all permutations of a list in Python.
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [54]:
# 60
l = [1,2,3]

def perms(l):
    if len(l) == 0:
        return [[]]
    res = []
    for i in range(len(l)):
        current = l[i]
        remains = l[:i] + l[i+1:]
        for j in perms(remains):
            res.append([current]+j)
    return res
perms(l)

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [55]:
#61. Write a Python program to get the difference between the two lists.
l1 = [10,20,30,40]
l2 = [50,20,30,40]
l3=set(l1).symmetric_difference(set(l2))
print(list(l3))

[10, 50]

In [57]:
# 62
res = []
for i in range(len(l1)):
    if l1[i] in l2:
        continue
    else:
        res.append(l1[i])
    if l2[i] in l1:
        continue
    else:
        res.append(l2[i])
res

[10, 50]

In [59]:
#63. Write a Python program access the index of a list.
l = [10,25,30,50,70]

print(list(enumerate(l)))

[(0, 10), (1, 25), (2, 30), (3, 50), (4, 70)]

In [60]:
# 64
res = []
for i,j in enumerate(l):
    res.append((i,j))
res

[(0, 10), (1, 25), (2, 30), (3, 50), (4, 70)]

In [63]:
# 65
l = [10,25,30,50,70]
res = []
count = 0
for i in l:
    res.append((count,i))
    count += 1
res

[(0, 10), (1, 25), (2, 30), (3, 50), (4, 70)]

In [64]:
#66. Write a Python program to convert a list of characters into a string.
l = ['a','p','p','l','e']
l2=""
l2.join(l)

'apple'

In [65]:
# 67
res = ''
for i in l:
    res = res + i
res

'apple'

In [66]:
#68. Write a Python program to find the index of an item in a specified list.
l = [10,20,30,40]
print(l.index(20))

1

In [67]:
# 69 to get specified value by index
def find_ind(l,ind):
    for i in range(len(l)):
        if i == ind:
            return l[i]
find_ind(l,1)

20

In [69]:
# 70 to get specified index by value
def find_ind(l,ind):
    for i in range(len(l)):
        if l[i] == ind:
            return i
find_ind(l,20)

1

In [70]:
#71. Write a Python program to flatten a shallow list.
l = [[2,3],[1,2,3],[4,5,6],[8,9]]
l1 =[]
for i in l:
  for j in i:
    l1.append(j)
print(l1)

[2, 3, 1, 2, 3, 4, 5, 6, 8, 9]

In [74]:
#72. Write a Python program to append a list to the second list.
l1 = [0,1,2]
l2 = ['red','orange','black']
l3 = l1+l2
print(l3)

[0, 1, 2, 'red', 'orange', 'black']

In [75]:
# 73
def appen(l1,l2):
    for i in l2:
        l1.append(i)
    return l1
appen(l1,l2)

[0, 1, 2, 'red', 'orange', 'black']

In [76]:
#74. Write a Python program to select an item randomly from a list.
import random
l = [10,20,30,40]
random.choice(l)

30

In [77]:
#75. Write a python program to check whether two lists are circularly identical.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 1, 2]

# Concatenate list1 with itself
combined = list1 + list1

# Check if list2 is in the combined list
if len(list1) == len(list2) and str(list2)[1:-1] in str(combined)[1:-1]:
    print("The lists are circularly identical.")
else:
    print("The lists are not circularly identical.")

The lists are circularly identical.

In [78]:
#76. Write a Python program to find the second smallest number in a list.
l = [10,20,30,50,90,40]
sorted(l)[1]

20

In [84]:
# 77
small = l[0]
second_small = l[1]
for i in l[1:]:
    if i < small :
        second_small = small
        small = i
    elif i < second_small:
        second_small = i
    else:
        continue
print(second_small)

20

In [ ]:
#78. Write a Python program to find the second largest number in a list.
l = [10,20,30,50,90,40]
sorted(l)[-2]

In [85]:
# 79
big = l[0]
second_big = l[1]
for i in l[1:]:
    if i > big :
        second_big = big
        big = i
    elif i > second_big:
        second_big = i
    else:
        continue
print(second_big)

50

In [86]:
#80. Write a Python program to get unique values from a list.
l = [10,20,10,5,5,30,30,5,40]
l1=[]
for i in range(len(l)):
  if l[i] not in l[i+1:]:
    l1.append(l[i])
print(l1)

[20, 10, 30, 5, 40]

In [ ]:
#81. Write a Python program to get the frequency of the elements in a list.
#l = [10,20,10,5,5,30,30,5,40]
def frq_count(lst):
  F={}
  for i in lst:
      if i in F:
         F[i]+=1
      else:
         F[i]=1
  return(F)

frq_count([10,20,10,5,5,30,30,5,40])

{10: 2, 20: 1, 5: 3, 30: 2, 40: 1}

In [ ]:
#82. Write a Python program to count the number of elements in a list within a specified range.
def sample(lst,start,end):
  count = 0
  for i in lst:
    if start<= i <= end:
      count += 1
  return count
sample([1,2,5,7,9,10,15,20],3,15)

5

In [ ]:
#83. Write a Python program to check whether a list contains a sublist.
def sample(lst,sublist):
  return str(sublist)[1:-1] in str(lst)[1:-1]
sample([1,2,3,4,5],[3,4])

True

In [ ]:
#84. Write a Python program to generate all sublists of a list.
def sublist(lst):
  sub =[]
  for i in range(len(lst)+ 1):
    for j in range((i+1),len(lst)+1):
      sub.append(lst[i:j])
  return(sub)
sublist([1,2,3,5,6,7])

[[1],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3, 5],
 [1, 2, 3, 5, 6],
 [1, 2, 3, 5, 6, 7],
 [2],
 [2, 3],
 [2, 3, 5],
 [2, 3, 5, 6],
 [2, 3, 5, 6, 7],
 [3],
 [3, 5],
 [3, 5, 6],
 [3, 5, 6, 7],
 [5],
 [5, 6],
 [5, 6, 7],
 [6],
 [6, 7],
 [7]]

In [94]:
# 85. Write a Python program using Sieve of Eratosthenes method for computing primes upto a specified number.
def sieve_of_eratosthenes(n):
    # Create a boolean array "prime[0:n+1]" and initialize all entries as True.
    # A value in prime[i] will be False if i is not a prime.
    prime = [True] * (n + 1)
    p = 2  # Start with the first prime number
    
    while p * p <= n:
        # If prime[p] is still True, then it is a prime number.
        if prime[p]:
            # Update all multiples of p to False starting from p^2
            for i in range(p * p, n + 1, p):
                prime[i] = False
        p += 1

    # Collect all prime numbers
    primes = [p for p in range(2, n + 1) if prime[p]]
    return primes

# Input: Specify the number up to which you want to find prime numbers
n = 30

# Compute primes up to n
primes = sieve_of_eratosthenes(n)
print(f"Prime numbers up to {n} are: {primes}")

Prime numbers up to 30 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [95]:
"""
86. Write a Python program to create a list by concatenating a given list which
range goes from 1 to n.
Sample list : ['p', 'q']
n =5
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']
"""
Sample_list= ['p', 'q']
n=5
a=[]
for i in range(1,n+1):
  for j in Sample_list:
    result = a.append(str(j)+str(i))
a

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [96]:
#87. Write a Python program to get variable unique identification number or string.
x = 42
y = "Hello, World!"
z = [1, 2, 3]

print(f"The ID of x is: {id(x)}")
print(f"The ID of y is: {id(y)}")
print(f"The ID of z is: {id(z)}")

The ID of x is: 140730413301464
The ID of y is: 1608950465840
The ID of z is: 1608951030848

In [101]:
#88. Write a Python program to find common items from two lists.
color1 = ["Red", "Green", "Orange", "White"]
color2 = ["Black", "Green", "White", "Pink"]
print(set(color1) & set(color2))

{'White', 'Green'}

In [102]:
# 89
res = []
for i in color1:
    if i in color2:
        res.append(i)
    else:
        continue
res

['Green', 'White']

In [103]:
"""
90. Write a Python program to change the position of every n-th value with the
(n+1)th in a list.
Sample list: [0,1,2,3,4,5]
Expected Output: [1, 0, 3, 2, 5, 4]
"""

def swap(lst,n):
  for i in range(0,len(lst)-1,n):
    lst[i],lst[i+1] = lst[i+1],lst[i]
  return(lst)
swap([0,1,2,3,4,5],2)

[1, 0, 3, 2, 5, 4]

In [104]:
"""
91. Write a Python program to convert a list of multiple integers into a single
integer.
Sample list: [11, 33, 50]
Expected Output: 113350
"""
def sample(lst):
  a ="".join(str(lst)[1:-1])
  b=a.split(', ')
  c= "".join(b)

  return(int(c))
sample([11, 33, 50])

113350

In [105]:
#92. Write a Python program to split a list based on first character of word.
def sample(lst):
  r ={}
  for i in lst:
    a = i[0]
    if a not in r:
      r[a]=[]
    r[a].append(i)
  return(r)
sample(['apple','banana','chiku','cat','ant','dog','eng'])

{'a': ['apple', 'ant'],
 'b': ['banana'],
 'c': ['chiku', 'cat'],
 'd': ['dog'],
 'e': ['eng']}

In [108]:
# 93. Write a Python program to create multiple lists. 
L = ['a','b','v']
for i in L:
    print(list(i))

['a']
['b']
['v']

In [112]:
# 94. Write a Python program to find missing and additional values in two lists. 
# Sample data : Missing values in second list: b,a,c
#  values in second list: g,h
L = ['a','b','c','d','e','f']
L2 = ['d','e','f','g','h']
def find_miss_add(lst,second_lst):
    miss = []
    add = []
    for i in lst:
        if i not in second_lst:
            miss.append(i)
    for i in second_lst:
        if i not in lst:
            add.append(i)
    return f'missing values in second list are: {miss} Additional values are: {add}'

find_miss_add(L,L2)

"missing values in second list are: ['a', 'b', 'c'] Additional values are: ['g', 'h']"

In [113]:
# 95. Write a Python program to split a list into different variables. 
L = ['amar', 'prashant', True, 0.32]
def split(L):
    a = L[:2]
    b = L[2:]
    return a,b
split(L)

(['amar', 'prashant'], [True, 0.32])

In [114]:
# 96. Write a Python program to generate groups of five consecutive numbers in a list. 
def generate_groups_of_five(n):
    # Generate groups of five consecutive numbers
    groups = []
    
    for i in range(0, n, 5):
        group = list(range(i, min(i + 5, n)))
        groups.append(group)
    return groups

n = 30
result = generate_groups_of_five(n)
for index, group in enumerate(result):
    print(f"Group {index + 1}: {group}")

Group 1: [0, 1, 2, 3, 4]
Group 2: [5, 6, 7, 8, 9]
Group 3: [10, 11, 12, 13, 14]
Group 4: [15, 16, 17, 18, 19]
Group 5: [20, 21, 22, 23, 24]
Group 6: [25, 26, 27, 28, 29]

In [115]:
# 97. Write a Python program to convert a pair of values into a sorted unique array.
def unique_arr(v1,v2):
    res = sorted([v1,v2])
    return res
unique_arr(3,4)

[3, 4]

In [116]:
# 98. Write a Python program to select the odd items of a list
L = [1,2,3,4,5,6,7,8,9]
def odd(L):
    res = []
    for i in L:
        if i%2 != 0:
            res.append(i)
    return res
odd(L)

[1, 3, 5, 7, 9]

In [117]:
# 99. Write a Python program to insert an element before each element of a list.
def insrt(L,ele):
    res = []
    for i in L:
        res.append(ele)
        res.append(i)
    return res
insrt([1,2,3],'X')

['X', 1, 'X', 2, 'X', 3]

In [124]:
# 100. Write a Python program to print a nested lists (each list on a new line) using the print() function.
L = ['a', 'b','c']
def nest(L):
    res = []
    for i in L:
        res.append(print(list(i)))
    
nest(L)

['a']
['b']
['c']

In [137]:
# 101. Write a Python program to convert list to list of dictionaries. 
# Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000","#800000", "#FFFF00"] 
# Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, 
# {'color_name': 'Yellow', 'color_code': '#FFFF00'}]
L = ["Black", "Red", "Maroon", "Yellow"]
L2 = ["#000000", "#FF0000","#800000", "#FFFF00"]
def convert_to_dicts(color_names, color_codes):

    color_dicts = [{'color_name': name, 'color_code': code} for name, code in zip(color_names, color_codes)]
    return color_dicts

# Convert and print the list of dictionaries
result = convert_to_dicts(L,L2)
print(result)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [139]:
# 102. Write a Python program to sort a list of nested dictionaries. 
def sort_nested_dicts(nested_dicts, sort_key):
    sorted_dicts = sorted(nested_dicts, key=lambda x: x[sort_key])
    return sorted_dicts

nested_dicts = [
    {'name': 'John', 'age': 28},
    {'name': 'Alice', 'age': 24},
    {'name': 'Bob', 'age': 30},
    {'name': 'Eve', 'age': 22}]

sort_key = 'age'
sort_nested_dicts(nested_dicts, sort_key)

[{'name': 'Eve', 'age': 22},
 {'name': 'Alice', 'age': 24},
 {'name': 'John', 'age': 28},
 {'name': 'Bob', 'age': 30}]

In [141]:
# 103. Write a Python program to split a list every Nth element. 
# Sample list: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
# Expected Output: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
def split_list(L, n):
    result = [[] for _ in range(n)]
    
    for index, item in enumerate(L):
        result[index % n].append(item)
    
    return result
split_list(L,3)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [142]:
# 104. Write a Python program to compute the similarity between two lists. 
# Sample data: ["red", "orange", "green", "blue", "white"], ["black", "yellow", "green","blue"] 
# Expected Output: 
# Color1-Color2: ['white', 'orange', 'red']
# Color2-Color1: ['black', 'yellow'] 
L = ["red", "orange", "green", "blue", "white"]
L2 = ["black", "yellow", "green","blue"]
res = []
res2 = []
for i in L:
    if i not in L2:
        res.append(i)
for i in L2:
    if i not in L:
        res2.append(i)
print(res)
print(res2)

['red', 'orange', 'white']
['black', 'yellow']

In [143]:
# 105. Write a Python program to create a list with infinite elements. 
def infinite_list(start=0):
    while True:
        yield start
        start += 1

infinite_list = infinite_list()

print("First 10 elements of the infinite list:")
for _ in range(10):
    print(next(infinite_list))

First 10 elements of the infinite list:
0
1
2
3
4
5
6
7
8
9

In [144]:
# 106. Write a Python program to concatenate elements of a list. 
L = ['amar', 34,True, 0.34]
def conc(L):
    res = ''
    for i in L:
        res = res + str(i)
    return res
conc(L)

'amar34True0.34'

In [149]:
# 107. Write a Python program to remove key values pairs from a list of dictionaries.
def remove_key(dict, key):
    for dictionary in dict:
        dictionary.pop(key, None)
    return dict

sample = [
    {'name': 'Alice', 'age': 30, 'city': 'New York'},
    {'name': 'Bob', 'age': 25, 'city': 'Los Angeles'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]

key = 'age'
remove_key(sample, key)

[{'name': 'Alice', 'city': 'New York'},
 {'name': 'Bob', 'city': 'Los Angeles'},
 {'name': 'Charlie', 'city': 'Chicago'}]

In [150]:
# 108. Write a Python program to convert a string to a list. 
def conver(S):
    return list(S)
conver('Amar')

['A', 'm', 'a', 'r']

In [159]:
# 109. Write a Python program to check if all items of a list is equal to a given string.
lst = ['apple', 'banana', 'cat']
def check(lst,st):
    res = all(i == st for i in lst)
    return all(item == st for item in lst)
    return res
        
check(lst,'cat')

False

In [164]:
# 110. Write a Python program to replace the last element in a list with another list. 
# Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
# Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]
L = [1, 3, 5, 7, 9, 10]
L2 = [2, 4, 6, 8]
def replc(L,L2):
    return L[:-1] + L2
replc(L,L2)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [174]:
# 111. Write a Python program to check if the n-th element exists in a given list.
L = [12,23,45,78,90]
def chec(L,n):
    if n <= len(L):
        print('yes')
    else:
        print('Not present')
chec(L,8)

Not present

In [177]:
# 112. Write a Python program to find a tuple, the smallest second index value from a list of tuples.
L = [(1,2),(4,5),(1,6),(2,1),(2,3)]
sorted(L,key= lambda x:x[1])[1]

(1, 2)

In [178]:
# 113. Write a Python program to create a list of empty dictionaries.
def create():
    res = []
    for i in range(3):
        res.append({})
    return res
create()

[{}, {}, {}]

In [179]:
# 114. Write a Python program to print a list of space-separated elements. 
L = ['apple', 'banana', 'cat']
def space(L):
    return " ".join(str(i) for i in L)
space(L)

'apple banana cat'

In [180]:
# 115. Write a Python program to insert a given string at the beginning of all items in a list. 
# Sample list : [1,2,3,4], string : emp
# Expected output : ['emp1', 'emp2', 'emp3', 'emp4']
L = [1,2,3,4]
ele = 'emp'
def add(L,ele):
    return [ele + str(i) for i in L]
add(L,ele)

['emp1', 'emp2', 'emp3', 'emp4']

In [181]:
# 116. Write a Python program to iterate over two lists simultaneously.
L1 = [1,2,3,4]
L2 = ['apple', 'banana', 'cat', 'dog']
for i,j in zip(L1,L2):
    print(i,j)

1 apple
2 banana
3 cat
4 dog

In [182]:
# 117. Write a Python program to access dictionary keys element by index. 
def access_dict_key_by_index(input_dict, index):
    keys_list = list(input_dict.keys())
    if index < 0 or index >= len(keys_list):
        return "Index out of range"
    
    return keys_list[index]

sample_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}

index = 1
access_dict_key_by_index(sample_dict, index)

'age'

In [189]:
# 118. Write a Python program to find the list in a list of lists whose sum of elements is the highest. 
# Sample lists: [1,2,3], [4,5,6], [10,11,12], [7,8,9]
# Expected Output: [10, 11, 12]
L = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
def maxx(L):
    return max(L,key=sum)
maxx(L)

[10, 11, 12]

In [191]:
# 119
def highest_sum_list(L):
    highest_sum = float('-inf')
    highest_sum_list = None
    
    for current_list in L:
        current_sum = sum(current_list)
        if current_sum > highest_sum:
            highest_sum = current_sum  
            highest_sum_list = current_list 
    
    return highest_sum_list
highest_sum_list(L)

[10, 11, 12]

In [192]:
# 119. Write a Python program to find all the values in a list are greater than a specified number. 
L = [1,2,3,4,5,6,7,8,9]
def grt(L,n):
    return [i for i in L if i>n]
grt(L,5)

[6, 7, 8, 9]

In [193]:
# 120. Write a Python program to extend a list without append. 
# Sample data: [10, 20, 30]     [40, 50, 60]
# Expected output : [40, 50, 60, 10, 20, 30]
L1 = [10,20,30]
L2 = [40,50,60]
def extnd(L1,L2):
    return L2 + L1
extnd(L1,L2)

[40, 50, 60, 10, 20, 30]

In [207]:
# 121. Write a Python program to remove duplicates from a list of lists. 
# Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
# New List : [[10, 20], [30, 56, 25], [33], [40]]
L = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
def remov(L):
    seen = set()
    unique_lists = []

    for i in L:
        tuple_sublist = tuple(i)
        if tuple_sublist not in seen:
            seen.add(tuple_sublist) 
            unique_lists.append(i) 

    return unique_lists
new_list = remov(L)
print("New List:", new_list)

New List: [[10, 20], [40], [30, 56, 25], [33]]

In [209]:
# 122. Write a Python program to get the depth of a dictionary. 
def get_dict_depth(d):
    if not isinstance(d, dict):
        return 0
    max_depth = 1
    
    for value in d.values():
        max_depth = max(max_depth, 1 + get_dict_depth(value))
    
    return max_depth

# Sample dictionary
sample_dict = {
    'a': 1,
    'b': {
        'c': 2,
        'd': {
            'e': 3,
            'f': {
                'g': 4
            }
        }
    },
    'h': 5
}

depth = get_dict_depth(sample_dict)

# Print the result
print("Depth of the dictionary:", depth)

Depth of the dictionary: 4

In [214]:
# 123. Write a Python program to check if all dictionaries in a list are empty or not. 
# Sample list : [{},{},{}]        Return value : True
# Sample list : [{1,2},{},{}]     Return value : False
def empty(dict):
    return all(not d for d in dict)

# Sample lists
sample_list1 = [{}, {}, {}]
sample_list2 = [{1, 2}, {}, {}]

result1 = empty(sample_list1)
result2 = empty(sample_list2)

# Print the results
print(f"Sample list 1 is all empty: {result1}")
print(f"Sample list 2 is all empty: {result2}")

Sample list 1 is all empty: True
Sample list 2 is all empty: False

In [148]:
# 124. Write a Python program to count the number of strings where the string length
# is 2 or more and the first and last character are same from a given list of strings.
"""
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
"""
l=['abc', 'xyz', 'aba', '1221']
result = []
for i in l:
  if i[0]==i[-1]:
    result.append(i)
len(result)

2

In [146]:
# 125. Write a python program to generate permutations of given list
l = [1,2,3]

def perms(l):
    if len(l) == 0:
        return [[]]
    res = []
    for i in range(len(l)):
        current = l[i]
        remains = l[:i] + l[i+1:]
        for j in perms(remains):
            res.append([current]+j)
    return res
perms(l)

[[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]